<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="ChromeTest">
  <parameter name="myBrowser" value="chrome"/>
    <classes>
      <class name="com.puja.webdriver.WalmartSearchFlow"/>
    </classes>
  </test> <!-- Test-->
  
  <test name="FirefoxTest">
  <parameter name="myBrowser" value="firefox"/>
    <classes>
      <class name="com.puja.webdriver.WalmartSearchFlow"/>
    </classes>
  </test> <!-- Test-->
  
   
</suite> <!-- Suite -->
